<section>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container-fluid">
    <a class="navbar-brand text-warning fw-bolder" href="/"><i class="fas fa-cat me-1"></i> SpaceCodersBlog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item px-2">
          <a class="nav-link text-light" href="/">Home</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link text-light" href="/create">Adicionar Post</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link text-secondary" href="/aboutproject">Sobre o Projeto</a>
        </li>
      </ul>
      </div>
    </div>
  </nav>
  <div>
      <img class="banner-img" src="/img/bannerspacecat.jpg" alt="Space Cats">
  </div>
</section>

